.inline{
    display: inline;
}
.uvGreen{
    background-color: rgb(124, 253, 124);
}
.uvYellow{
    background-color: rgb(255, 255, 73);
}
.uvOrange{
    background-color: rgb(255, 193, 78);
}
.uvRed{
    background-color: rgb(255, 100, 100);
}
.uvPurple{
    background-color: rgb(255, 144, 255);
}
.header {
    background-color: teal;
}

.header h1 {
    font-size: 50px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color: white;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
    margin-left: 10px;
}

.city-search {
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    margin-left: 21px;
}

.search-input {
    width: 80%;
    height: 40px;
    margin-left: 20px;
    border-radius: 4px;
}

#city-btn {
    background-color: teal;
    color: white;
    font-family: 'Rubik', sans-serif;
    border-radius: 4px;
    padding: 5px;
    width: 80%;
    margin-top: 10px;
    margin-left: 20px;
}
#city-btn:hover {
    cursor: pointer;
}

#current h1, h2, h3 {
    font-family: 'Rubik', sans-serif;
}

#forecast{
    font-family: 'Rubik', sans-serif;
    margin-left: 300px;
}
#right-content{
    left: 280px;
}
#left-content{
    left: 200px;
}
.callout {
    border-radius: 5px;
    border-color: black;
    height: 400px;
}