.inline{
    display: inline;
}
/* if (this.uvi <= 2) return "uvGreen";
if (this.uvi <= 5) return "uvYellow";
if (this.uvi <= 7) return "uvOrange";
if (this.uvi <= 10) return "uvRed";
if (this.uvi > 10) return "uvPurple"; */
.uvGreen{
    background-color: rgb(124, 253, 124);
}
.uvYellow{
    background-color: rgb(255, 255, 73);
}
.uvOrange{
    background-color: rgb(255, 193, 78);
}
.uvRed{
    background-color: rgb(255, 100, 100);
}
.uvPurple{
    background-color: rgb(255, 144, 255);
}
.header {
    background-color: teal;
}

.header h1 {
    font-size: 50px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color: white;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
}

.city-search {
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    margin-left: 10px;
}

.search-input {
    width: 50%;
    height: 40px;
    margin-left: 10px;
    border-radius: 4px;
}

#city-btn {
    background-color: teal;
    color: white;
    font-family: 'Rubik', sans-serif;
    border-radius: 4px;
    padding: 5px;
    width: 50%;
    margin-top: 10px;
    margin-left: 10px;
}

#current h1, h2, h3 {
    font-family: 'Rubik', sans-serif;
}

.callout {
    width: 1400px;
    right: 180px;
    border-radius: 5px;
    border-color: black;
    height: 300px;
}

#forecast{
    font-family: 'Rubik', sans-serif;
    margin-left: 300px;
}